.home__additional {
   background-color: rgba(37, 104, 158, 1);
   margin-bottom: 190px;   
}
.home__additional .container {
   padding: 60px 20px 70px;
}

.additional__title{
font-size: 40px;
font-weight: 500;
line-height: 50px;
color: #FFFFFF;
width: 85%;
margin: 0 auto 40px auto;
text-align: center;
}

.additional__list {
   position: relative;
   display: flex;
   align-items: center;  
   margin: 0;
   padding: 0;
}
.additional__item {
   width: 435px;
   margin-right: 70px;
background-size: contain;
   background-repeat: no-repeat;
background-position: top left;
&:last-child{
      margin: 0;
   }

}
.additional__item:nth-child(1) {
   background-image: url('../../images/collapses.png');
   
}
.additional__item:nth-child(2) {
   background-image: url('../../images/landslides.png');
background-position: 0 5px;

}
.additional__item:nth-child(3) {
   background-image: url('../../images/avalanche.png');
background-position: 0 29px;
   
}

.addition__item__info {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-start;
   margin-top: 230px;
   height: 55px;

}
.count {
   margin-left: 110px;
}
.count,
.discription {
   font-size: 24px;
   font-weight: 500;
   line-height: 28px;
   color: #FFFFFF;

}

@include breakpoint-down(1116px){
.addition__item__info{
   .discription{
font-size: 20px;
   }
   .count{
font-size: 20px;
      margin-left: 0 !important;
   }
}
}

@include breakpoint-down(900px){
   .additional__title{
 font-size: 30px;
 font-weight: 550;
 line-height: 35px;
 
   }
 
   .additional__list{
    padding: 60px 0 0 0;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
 
    .additional__item{
       margin: 0;
        width: 80%;
        margin-bottom: 42px;
        .addition__item__info{
 margin-top: 320px;
          flex-direction: row;
           justify-content: flex-start;
     align-items: center;
         }
        span{
          font-weight: 550;
          line-height: 16px; 
          margin: 0 5px 0 0;  
        }
 
    }
  
 
 }
 }

@include breakpoint-down(750px){
   .additional__title{
 font-size: 25px;
 font-weight: 550;
 line-height: 30px;
 text-align: center;
 
   }
 
   .additional__list{
    padding: 60px 0 0 0;
   
 
    .additional__item{
       margin: 0;
        width: 80%;
        margin-bottom: 42px;
        .addition__item__info{
 margin-top: 320px;
         
     
         }
        span{
          font-weight: 550;
          line-height: 16px; 
          margin: 0 5px 0 0;  
        }
 
    }
  
 
 }
 }

@include breakpoint-down(550px){
  .additional__title{
font-size: 19px;
font-weight: 550;
line-height: 20px;

  }

  .additional__list{
   padding: 60px 0 0 0;

   .additional__item{
      margin: 0;
       width: 80%;
       .addition__item__info{
margin-top: 220px;
       
       }
       span{
         font-size: 17px;
         font-weight: 550;
         line-height: 16px; 
         margin: 0 5px 0 0;  
       }

   }
 

}
}


@include breakpoint-down(400px){
   .additional__title{
 font-size: 14px;
 font-weight: 550;
 
   }
   .additional__list{
 
    .additional__item{
        width: 80%;
        .addition__item__info{
 margin-top: 175px;
        }
        span{
          font-size: 14px;
          font-weight: 550;
          line-height: 16px; 
          margin: 0 5px 0 0;  
        }
 
    }
  
 
 }
 }